<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="wholePortion">

    <div class="header">
        <form action="/"><button class="toronto">Toronto</button></form>
        <form action="/chennai"><button class="chennai">Chennai</button></form>
        <form action="/germany"><button class="germany">Frankfurt</button></form>
    </div>
    
